* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
div#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    flex-direction: column;
}
h1 {
    margin-bottom: 24px;
    font-size: 42px;
    font-weight: 300;
}
footer {
    position: absolute;
    bottom: 20px;
    color: #a9a9a9;
    margin: auto;
    left: 0;
    right: 0;
}
p {
    margin-bottom: 50px;
}
button {
    margin: 12px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid darkgray;
    cursor: pointer;
    transition: 220ms;
}
button:hover {
    background: #e5e5e5;
}
a:hover {
    color: #166aad;
}
pre {
    text-align: left;
}
input[type="text"] {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid grey;
}